
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a juggling licence
      </h1>
      
      <p>
        Want to open a juggling business? <a href="/start">Apply here</a>
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>This service is only for professional jugglers</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://en.wikipedia.org/wiki/Juggling">More information on juggling</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
